/* categories header */

.title {
  display: flex;
  align-items: center;
  margin: 28px 0;
}

.title h3 {
  margin: 0 auto;
  font-size: 28px;
  text-transform: uppercase;
}

.title a {
  display: flex;
  align-items: center;
}

.categories-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.categories-btns button {
  font-family: "Blinker", sans-serif;
  font-size: 14px;
  padding: 6px 16px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
}

.categories-btns button:hover {
  border: 2px solid rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Category and TrendingSlider */

.categories-container {
  padding-top: 110px;
}

.products-container,
.trending-container {
  padding: 40px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.product {
  margin: 0 auto;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
.product:hover {
  border: 2px solid rgb(0, 0, 0, 0.7);
}

.product-description,
.price {
  margin: 0;
  text-transform: capitalize;
  font-size: 17px;
}
.product-description {
  padding-top: 10px;
}

.price {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}
.products-container img {
  width: 275px;
  height: 275px;
  max-width: 100%;
  object-fit: cover;
}

/* proud products */

.proud-title {
  margin: 50px 0 40px;
  font-size: 26px;
}

/* media queries */

@media (max-width: 1100px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .products-container img {
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
