/* categories header */

.title {
  display: flex;
  align-items: center;
  margin: 28px 0;
}

.title h3 {
  margin: 0 auto;
  font-size: 28px;
  text-transform: uppercase;
}

.title a {
  display: flex;
  align-items: center;
}

.categories-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.categories-btns button {
  padding: 6px 16px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
}

.categories-btns button:hover {
  border: 2px solid rgb(0, 0, 0, 0.5);
}

/* category */

.products-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.product {
  margin: 0 auto;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
.product:hover {
  border: 2px solid rgb(0, 0, 0, 0.7);
}

.product-description,
.price {
  margin: 0;
  text-transform: capitalize;
  font-size: 17px;
}
.product-description {
  padding-top: 10px;
}

.price {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}
.products-container img {
  width: 275px;
  height: 275px;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

/* proud products */

.proud-title {
  margin: 50px 0 40px;
  font-size: 26px;
}
