.navbar {
  box-shadow: 0px 25px 20px -30px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.nav-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 18px;
}
.logo-img {
  width: 80px;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}
