.product-page-container {
  padding-top: 150px;
}
.product-display a {
  display: flex;
  align-items: center;
}
.product-display img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-title {
  z-index: 1;
  margin: 8px 0 -50px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
}

.product-display {
  display: flex;
  flex-direction: column;
}

.product-info,
.small-imgs,
.quantity-row,
.shop-btns,
.product-btns {
  display: flex;
  flex-direction: row;
}

/* left-side */

.img-side {
  max-width: 100%;
  height: auto;
  padding: 60px;
}

/* right-side */

.details-side {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.small-imgs {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 20px 30px;
}
.small-imgs img {
  height: auto;
  max-width: 40%;
  object-fit: cover;
  cursor: pointer;
}
.small-imgs img:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.18);
  outline: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.quantity-row,
.shop-btns {
  margin-top: 30px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.quantity-row {
  margin-right: 30px;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.product-btns {
  border: 1px solid black;
}
.product-btns button {
  font-size: 30px;
  height: 45px;
  transition: all 200ms ease-in-out;
  width: 45px;
  border: none;
  cursor: pointer;
}

.quantity-counter {
  width: 60px;
  text-align: center;
  padding-top: 8px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.shop-btns {
  justify-content: center;
  gap: 20px;
}

.add-btn,
.buy-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  height: 50px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.add-btn {
  border: 2px solid #000;
  background-color: #e5e5e5;
}

.add-btn:hover {
  background-color: #000;
  color: #e5e5e5;
}

.buy-btn {
  border: 2px solid #b6002c;
  background-color: #b6002c;
  color: #fff;
}

.buy-btn:hover {
  border: 2px solid #b6002c;
  background-color: #e5e5e5;
  color: #b6002c;
}

@media (max-width: 900px) {
  .product-page-container {
    padding: 120px 0 0;
  }
  .product-title {
    font-size: 28px;
  }
  .product-info {
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* left-side */
  .img-side {
    padding: 60px 20px 10px;
  }
  .img-side img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 500px;
    object-fit: contain;
  }

  /*right-side*/
  .details-side {
    margin: 10px 0;
    padding: 20px;
  }
  .small-imgs {
    padding: 0;
  }
  .small-imgs img {
    max-width: 30%;
  }
  .quantity-row {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .product-page-container {
    padding: 90px 0 0;
  }
  .details-side {
    margin: 0;
  }

  .img-side img {
    display: block;
    margin: 0 auto;
    height: auto;
    min-width: 300px;
    object-fit: contain;
  }

  .shop-btns {
    flex-wrap: wrap;
    gap: 10px;
  }
  .add-btn,
  .buy-btn {
    width: 100%;
  }
}
