.product-page-container {
  margin: 40px 0;
}

.product-page-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-title {
  z-index: 1;
  margin: 8px 0 -50px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.product-display,
.details-side {
  display: flex;
  flex-direction: column;
}

.product-info,
.small-imgs,
.quantity-row,
.shop-btns,
.product-btns {
  display: flex;
  flex-direction: row;
}

/* left-side */

.img-side {
  width: 1200px;
  padding: 60px;
}

/* right-side */

.details-side {
  background-color: #e5e5e5;
  gap: 30px;
  width: 100%;
  padding: 50px;
  justify-content: center;
}
.small-imgs {
  height: 200px;
  gap: 20px;
  justify-content: space-evenly;
}
.small-imgs img:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.18);
  outline: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.quantity-row,
.shop-btns {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.quantity-row {
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.product-btns {
  border: 1px solid black;
}
.product-btns button {
  font-size: 30px;
  height: 45px;
  transition: all 200ms ease-in-out;
  width: 45px;
  border: none;
}

.quantity-counter {
  width: 60px;
  text-align: center;
  padding-top: 8px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
